<p>User Formular</p>

<form [formGroup]="userForm" class="user-formular">
  <label for="firstname">Vorname</label>
  <input id="firstname" type="text" formControlName="firstname">

  <label for="lastname">Nachname</label>
  <input id="lastname" type="text" formControlName="lastname">

  <label for="age">Alter</label>
  <input id="age" type="text" formControlName="age">

  <label for="email">E-Mail</label>
  <input id="email" type="text" formControlName="email">

  <div class="user-formular-buttons">
    <button type="button" [disabled]="!userForm.valid" (click)="save()">speichern</button>
    <button type="button" [disabled]="!userForm.valid" (click)="setValueToFritz()">setValueToFritz</button>
    <button type="button" [disabled]="!userForm.valid" (click)="patchValueToTheodor()">patchValueToTheodor</button>
    <button type="button" routerLink="/users">abbrechen</button>
  </div>
</form>


<div>Form  without FromGroup:</div>
<div><label for="firstname2">Vorname</label><input id="firstname2" type="text" [formControl]="firstname2"></div>
<div><label for="lastname2">Nachname</label><input id="lastname2" type="text" [formControl]="lastname2"></div>

<pre>
live form info:
{{userForm.value | json}}
status: {{userForm.status}}
valid: {{userForm.valid}}
dirty: {{userForm.dirty}}
touched: {{userForm.touched}}
</pre>
